<!--Defective - Gives an error when launched saying RLException: ERROR: unable to contact ROS master at (IP)-->
<launch>
<!--Define both machines as rule of thumb in case they need to be specified in each node-->
	<machine
		name="robot"
		address="10.42.0.2"
		user="ubuntu"
		password="ttu_AMD1"
	/>
	<machine
		name="base_station"
		address="10.42.0.1"
		user="AMDRobot"
		password="ttu_AMD1"
	/>
	<machine
		name="computer_zach"
		address="10.0.2.15"
	/> 

<!--Define nodes to be run-->	
	<node
		machine="base_station"
		name="teleop_twist_keyboard"
		pkg="teleop_twist_keyboard"
		type="teleop_twist_keyboard.py"
		output="screen"
	/>
	<node
		machine="robot"
		name="serial_node"
		pkg="rosserial_python"
		type="serial_node.py"
		args="/dev/ttyACM0"	
	/>
</launch>
