<launch>
<!--Define both machines as rule of thumb in case they need to be specified in each node-->
	<machine
		name="robot"
		address="10.104.195.71"
	/>
	<machine
		name="base_station"
		address="10.104.195.72"
	/>
	<machine
		name="computer_zach"
		address="10.0.2.15"
	/> 

<!--Define nodes to be run-->	
	<node
		machine="robot"
		name="teleop_twist_keyboard"
		pkg="teleop_twist_keyboard"
		type="teleop_twist_keyboard.py"
		output="screen"
	/>
	<node
		machine="robot"
		name="serial_node"
		pkg="rosserial_python"
		type="serial_node.py"
		args="/dev/ttyAMC0"
	/>
</launch>
